a {
  text-decoration: none !important;
}

.special-bg {
  border: 2px solid red;
  padding: 20px 60px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.special-bg:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.5s ease-in-out;
}
